<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CLOMI" >
        <activity
            android:name=".activities.habits.SkincareHabitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.habits.MoodHabitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.habits.SleepHabitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.habits.WaterHabitActivity"
            android:exported="false" />
        <activity
            android:name=".adapters.ReportAdapter"
            android:exported="false" />
        <activity
            android:name=".adapters.ReminderAdapter"
            android:exported="false" />
        <activity
            android:name=".adapters.CustomHabitAdapter"
            android:exported="false" />
        <activity
            android:name=".adapters.HabitAdapter"
            android:exported="false" />
        <activity
            android:name=".activities.wellness.PeriodTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.habits.EditHabitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.habits.CreateHabitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.habits.HabitDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ai.AIAssistantActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".manager.PlantManager"
            android:exported="false" />
        <activity
            android:name=".activities.plant.PlantActivity"
            android:exported="false" />
        <activity
            android:name=".activities.habits.HabitsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.reports.ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".activities.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.onboarding.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.AboutYouActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.LifestyleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.WaterSetupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.SleepSetupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.PeriodSetupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.SkincareSetupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.WellnessSetupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.onboarding.SetupCompleteActivity"
            android:exported="false" />
    </application>

</manifest>